* {
    font-family: "Noto Sans Mono", sans-serif;
    font-size: 13px;
    border: none;
}

window#waybar {
    background-color: #1E2127;
    color: #ABB2BF;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    color: #5C6370;
    font-size: 19px;
}

#workspaces button.active,
#workspaces button.focused {
    color: #ABB2BF;
    font-weight: bold;
    /* border-bottom: 3px solid #D19A66; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mpd {
    padding: 0 10px;
    color: #ABB2BF;
}

