* {
    font-family: "Noto Sans Mono", sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(30, 33, 39, 0.9);
    color: #ABB2BF;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    color: #5C6370;
    font-size: 19px;
}

#workspaces button.active {
    color: #ABB2BF;
    border-bottom: 3px solid #D19A66;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mpd {
    padding: 0 15px;
    color: #ABB2BF;
}

